.container{
    font-family: Impact, fantasy;
    position: relative;
    display: table;
    float: left;
    padding: 5px;
    text-align: center;
    color: white;
    -webkit-text-stroke: 2px black;
}

.top-text{
    font-size: 1.5em;
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bottom-text{
    font-size: 1.5em;
    position: absolute;
    top: 87%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hover-in{
    opacity: 0.2;
}

#parent{
    margin-left: 5%;
    margin-right: 5%;
}

h1{
    text-align: center;
    font-size: 3em;
}

h2{
    text-align: center;
}

form{
    display: block;
    text-align: center;
}

label{
    font-size: 1.25em;
    display: inline-block;
    width: 150px;
    text-align: left;
}

body{
    background-color: rgb(219, 239, 250);
    font-family: 'Concert One', cursive;
}